.title{
    display: table;
    margin: 0 auto;
    padding: 32px;
}

.Dark .title{
    color: #f4f4f4;
}

form{
    display: table;
    margin: 0 auto;
}

label{
    display: table;
    margin: 0 auto;
    padding-top: 18px;
}

.Dark label{
    color: #f4f4f4;
}

input{
    width: 256px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
}

.Dark input{
    border-bottom: 1px solid #f4f4f4;
    color: #f4f4f4;
}

input[type=datetime-local]{
    width: 172px;
    display: table;
    margin: 0 auto;
}

textarea{
    width: 256px;
    background-color: transparent;
    border: none;
    outline: none;
    border: 1px solid #000;
}

.Dark textarea{
    color: #f4f4f4;
    border: 1px solid #f4f4f4;
}

#btn1, #btn2{
    padding: 12px;
    width: 96px;
    display: table;
    margin: 0 auto;
    border: none;
    text-decoration: none;
}

#btn2{
    margin-bottom: 32px;
}

#btn1:hover{
    background-color: #86d01c;
    color: #f4f4f4;
    cursor: pointer;
}

#btn2:hover{
    background-color: #e88b8b;
    color: #f4f4f4;
    cursor: pointer;
}

.Dark #btn1:hover,.Dark #btn2:hover{
    color: #000;
}