.Dark{
    background-color: #23262d;
}

body{
    font-family: 'Urbanist', sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.Dark .header{
    background-color: #32394a;
}

.header{
    padding: 0px 0px 32px 0px;
    background-color: #0201f1;
    color: #f4f4f4;
}

.tituloApp{
    padding: 0px 0px 0px 64px;
    font-family: 'Noto Sans', sans-serif;
}

.subApp{
    padding: 0px 0px 0px 64px;
    font-family: 'Noto Sans', sans-serif;
}

.logout a{
    display: inline-block;
    text-decoration: none;
    color:#f4f4f4;   
    margin-top: 32px;
    margin-right: 32px;
    font-size: 24px;
}

.logout a:hover{
    color: #f73e41;
}

.theme{
    margin-top: 32px;
    margin-right: 32px;
    background-color: transparent;
    color: #f4f4f4;
    font-size: 24px;
    border: none;
}

.theme:hover{
    color: #c4b0b0;
    cursor: pointer;
}

::-webkit-scrollbar-track {
 background-color: #f4f4f4;
}
::-webkit-scrollbar {
 width: 8px;
 background: #000;
}
::-webkit-scrollbar-thumb {
 background: #3f3fad;
 border-radius: 16px;
}