body{
    font-family: 'Urbanist', sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.header{
    padding: 0px 0px 32px 0px;
    background-color: #0201f1;
    color: #f4f4f4;
}

.tituloApp{
    padding: 0px 0px 0px 64px;
    font-family: 'Noto Sans', sans-serif;
}

.subApp{
    padding: 0px 0px 0px 64px;
    font-family: 'Noto Sans', sans-serif;
}

.logout a{
    display: inline-block;
    text-decoration: none;
    color:#f4f4f4;   
    margin-top: 32px;
    margin-right: 32px;
    font-size: 24px;
}

.logout a:hover{
    color: #f73e41;
}