.box_login{
    padding: 137px;
}

.box_login input{
    margin-bottom: 32px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    outline: none;
}

.Dark .box_login input{
    color: #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}

#ms{
    font-size: 12px;
    font-weight: 200;
    margin-top: -3px;
}

.Dark #ms{
    color: #f4f4f4;
}

.Dark label{
    color: #f4f4f4;
}

.Dark .submit_btn{
    color: #f4f4f4;
}

.submit_btn{
    background-color: transparent;
    padding: 12px;
    text-align: center;
    border: none;
}

.submit_btn:hover{
    background-color: #86d01c;
    color: #f4f4f4;
    cursor: pointer;
}

.btn_register{
    display: table;
    margin: 0 auto;
    background-color: transparent;
    padding: 8px;
    text-align: center;
    border: none;
}

.Dark .btn_register{
    color: #f4f4f4;
}

.btn_register:hover{
    background-color: #8cd3ff !important;
    color: #f4f4f4;
    cursor: pointer;
}