.atrasado{
    background-color: #ecabab;
}

.emDia{
   background-color: #c8e9dd;
}

.hoje{
   background-color: #8cd3ff;
}

.fa{
   font-size:24px;
   color:#000;
}

.Dark .fa{
   color: #f4f4f4 !important;
}

.pencil{
   text-decoration: none;
   color: #000;
   font-weight: 900;
   font-size: 22px;
}

.Dark .pencil{
   color: #f4f4f4;
}

.perimetro{
   padding: 32px;
   display: table;
   margin: 0 auto;
}

.btn_nv{
   padding: 16px;
   background-color: #86d01c;
   border: none
}

.Dark .btn_nv{
   background-color: #a2ebd0;
}

.btn_nv:hover{
   background-color: #a2ebd0;
   cursor: pointer;
}

.Dark .btn_nv:hover{
   background-color: #86d01c;
}

.tabela{
   margin: 0 auto;
   padding-top: 32px;
   width: 60%;
}

.tabela td, .tabela th {
   border: 1px solid #ddd;
   padding: 8px;
}
 
.tabela tr:hover {background-color: #ddd;}
 
.tabela th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: #0201f1;
   color: white;
}

.Dark .tabela th{
   background-color: #32394a;
   border: none
}

.tabela td{
   padding: 12px;
}

.tabela td:hover{
   cursor: pointer;
}

.tabela .transp{
   background-color: #f4f4f4;
   border: none;
}

.Dark .tabela .transp{
   background-color: #23262d;
}