{% extends "model-page.html" %}

{% block content %}
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% load static %}
<link href="{% static "css/page.css" %}" rel="stylesheet">
    <table class="tabela">
        <tr>
            <th>Evento</th>
            <th>Descrição</th>
            <th>Local</th>
            <th>Data</th>
        </tr>
        {% for evento in eventos %}
        {% if evento.get_evento_atrasado %}
            <tr class="atrasado">
                <td>{{ evento.titulo }}</td>
                <td>
                    {% if evento.descricao == None %}
                        
                    {% else %}
                        {{ evento.descricao }}
                    {% endif %}
                </td>
                <td>
                    {% if evento.local_evento == None %}
                        
                    {% else %}
                        {{ evento.local_evento }}
                    {% endif %}
                </td>
                <td>{{ evento.data_evento }}</td>
                <td class="transp">
                    <a href="evento/?id={{ evento.id }}" class="pencil"> ✎ </a>
                </td>
                <td class="transp">
                    <a href="evento/delete/{{ evento.id }}"> <i style="font-size:24px;color:#000;" class="fa">&#xf014;</i> </a>
                </td>
            </tr>
        {% elif evento.get_evento_dia %}
            <tr class="hoje">
                <td>{{ evento.titulo }}</td>
                <td>
                    {% if evento.descricao == None %}
                        
                    {% else %}
                        {{ evento.descricao }}
                    {% endif %}
                </td>
                <td>
                    {% if evento.local_evento == None %}
                        Não informado...
                    {% else %}
                        {{ evento.local_evento }}
                    {% endif %}
                </td>
                <td>{{ evento.data_evento }}</td>
                <td class="transp">
                    <a href="evento/?id={{ evento.id }}" class="pencil"> ✎ </a>
                </td>
                <td class="transp">
                    <a href="evento/delete/{{ evento.id }}"> <i style="font-size:24px;color:#000;" class="fa">&#xf014;</i> </a>
                </td>
            </tr>
        {% else %}
            <div>
            <tr class="emDia">
                <td>{{ evento.titulo }}</td>
                <td>
                    {% if evento.descricao == None %}
                        
                    {% else %}
                        {{ evento.descricao }}
                    {% endif %}
                </td>
                <td>
                    {% if evento.local_evento == None %}
                        
                    {% else %}
                        {{ evento.local_evento }}
                    {% endif %}
                </td>
                <td>{{ evento.data_evento }}</td>
                <td class="transp">
                    <a href="evento/?id={{ evento.id }}" class="pencil"> ✎ </a>
                </td>
                <td class="transp">
                    <a href="evento/delete/{{ evento.id }}"> <i style="font-size:24px;color:#000;" class="fa">&#xf014;</i> </a>
                </td>
            </tr>
        {% endif %}
        {% endfor %}
    </table>
    <div class="perimetro">
        <a href="evento/">
            <input type="button" class="btn_nv" value="Novo Evento"/>
        </a>
    </div>
{% endblock %}