{% extends "model-page.html" %}

{% block content %}
    <h2>Agendamentos</h2>
    <a href="evento/">
        <input type="button" value="Novo Evento"/>
    </a>
    <br><br>
        {% for evento in eventos %}
        {% if evento.get_evento_atrasado %}
            <div class="atrasado">
            <ul>
                <li>{{ evento.titulo }} - {{ evento.get_data_criacao }}
        {% elif evento.get_evento_dia %}
            <div class="hoje">
            <ul>
                <li>{{ evento.titulo }} - {{ evento.get_data_criacao }}
        {% else %}
            <div class="emDia">
                <li>{{ evento.titulo }} - {{ evento.get_data_criacao }}
        {% endif %}
                    (<a href="evento/?id={{ evento.id }}"> Editar </a> / <a href="evento/delete/{{ evento.id }}"> Excluir </a>)
                </li>
            </ul>
            </div>
            <br>
        {% endfor %}


    <style>
        .atrasado{
            color: red;
        }

        .emDia{
            color: green;
        }

        .hoje{
            color: blue;
        }
    </style>
{% endblock %}


