{% extends "model-page.html" %}

{% block content %}
{% load static %}
<link href="{% static "css/login.css" %}" rel="stylesheet">
    <div align="center" class="box_login">
        <form action="submit" method="POST">{% csrf_token %}
            <label><b>Usuário</b</label><br>
            <input type="text" name="username" id="user" autocomplete="off"/><br>
            
            <label><b>Senha</b></label><br>
            <input type="password" name="password" id="senha"/><br>
            <input type="checkbox" onclick="showPassword()"><label id="ms">Mostrar Senha</label>
            
            <br>
            <button type="submit" class="submit_btn">Entrar</button>
        </form>
        {% for message in messages %}
            <br><br>
            <strong>Erro: </strong> {{ message }}
        {% endfor %}
    </div>
    <script src="{% static "js/login.js" %}"></script>
{% endblock %}