<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://freepikpsd.com/media/2019/10/Python-PNG-File.png"/>
    <title>Agenda</title>
</head>
<body>
    <h1>Login</h1>

    <div align="center">
        <form action="submit" method="POST">{% csrf_token %}
            <label><b>Usuário: </b</label>
            <input type="text" name="username"/>
            <br><br>
            <label><b>Senha: </b></label>
            <input type="password" name="password"/>
            <br><br>
            <button type="submit">Entrar</button>
        </form>
        {% for message in messages %}
            <br><br>
            <strong>Erro: </strong> {{ message }}
        {% endfor %}
    </div>
</body>
</html>