<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://freepikpsd.com/media/2019/10/Python-PNG-File.png"/>
    <title>Agenda</title>
    {% load static %}
    <link href="{% static "css/header.css" %}" rel="stylesheet">
    <link href="{% static "css/page.css" %}" rel="stylesheet">
    <link href="{% static "css/footer.css" %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
<div class="header">
    <div align="right" class="logout">
        <a href="/logout">Sair</a>
    </div>
    <h1 class="tituloApp">Life to Relieve</h1>
    <h2 class="subApp">Created by Leonardo Vasconcelos Paulino</h2>
</div>